.container {
  width: 85%;
  margin: 5rem auto;

  @include desktop {
    display: flex;
  }
}

.card {
  padding: 4rem 2.7rem;
  max-width: 240px;
  margin: 0 auto;

  &:first-child {
    border-radius: 15px 15px 0 0;

    @include desktop {
      border-radius: 15px 0 0 15px;
    }
  }

  &:last-child {
    border-radius: 0 0 15px 15px;

    @include desktop {
      border-radius: 0 15px 15px 0;
    }
  }

  &--sedan {
    background-color: $bright-orange;
  }

  &--suv {
    background-color: $dark-cyan;
  }

  &--luxury {
    background-color: $very-dark-cyan;
  }

  &__title {
    color: $very-light-gray;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__description {
    color: $transparent-white;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__button {
    text-decoration: none;
    background-color: $very-light-gray;
    padding: .9em 1.8em;
    border-radius: 20px;

    &--sedan {
      color: $bright-orange;
    }

    &--suv {
      color: $dark-cyan;
    }

    &--luxury {
      color: $very-dark-cyan;
    }
  }
}