.container {
  width: 85%;
  margin: 5rem auto;
}

.card {
  padding: 4rem 2.75rem;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &--sedan {
    background-color: $bright-orange;
  }

  &--suv {
    background-color: $dark-cyan;
  }

  &--luxury {
    background-color: $very-dark-cyan;
  }

  &__title {
    color: $very-light-gray;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__description {
    color: $transparent-white;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__button {
    text-decoration: none;
    background-color: $very-light-gray;
    padding: .9em 1.8em;
    border-radius: 20px;

    &--sedan {
      color: $bright-orange;
    }

    &--suv {
      color: $dark-cyan;
    }

    &--luxury {
      color: $very-dark-cyan;
    }
  }
}