.container {
  width: 90%;
  margin: 5rem auto;
}

.card {
  background-color: $bright-orange; // temporary
  border: 1px dashed blue;

  padding: 4rem 3.25rem;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__title {
    color: $very-light-gray;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__description {
    color: $transparent-white;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__button {
    text-decoration: none;
    background-color: $very-light-gray;
    padding: .9em 1.8em;
    border-radius: 20px;
  }
}